<!-- Create a Doctor#index page that displays each doctor's name, a link to their show page, and a count of their patients. -->
<ul>
  <% @patients.each do |p| %>
    <li>Name: <%= link_to p.name, p %> Number of Appointments: <%= p.appointments.count %></li>
  <% end %>
</ul>
