<h1><%= @doctor.name %></h1>
<h3>Department: <%= @doctor.department %></h3>
Appointments:
<ul>
<% @appointments.each do |app| %>
  <li><%= app.reformatted_datetime %>
  <%= link_to app.patient.name, app.patient %> </li>
<%end%>
</ul>




<!-- Create a Doctor#show page that displays the doctor's name, department, and appointments, with each appointment's date, time, and patient name (linking to the patient's show page). -->
